@model Biblioteca1.Helpers.ViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes sobre o livro</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Livro.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Livro.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Livro.Autor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Livro.Autor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Livro.ISBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Livro.ISBN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Livro.Editora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Livro.Editora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Livro.Ano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Livro.Ano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Livro.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Livro.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Livro.QuantidadeTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Livro.QuantidadeTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Livro.QuantidadeDisponivel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Livro.QuantidadeDisponivel)
        </dd>

        @foreach (var item in Model.Generos)
            {
            <dt>
               Genero Literário
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Label)
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Livro.Id }) |
    @Html.ActionLink("Voltar à coleção", "Index")
</p>
